asgiref==3.5.2
certifi==2022.9.24
charset-normalizer==2.1.1
dj-database-url==2.1.0
Django==1.11
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.6
django-crispy-forms==1.14.0
django-honeypot-signals==0.1.1
django-smtp-ssl==1.0
django-ssl-smtp==2.0.0
django-upgrade==1.11.0
gunicorn==21.2.0
idna==3.4
packaging==23.1
Pillow==9.3.0
psycopg2-binary==2.9.7
python-decouple==3.6
pytz==2022.6
requests==2.28.1
six==1.16.0
sqlparse==0.4.3
tokenize-rt==5.0.0
typing_extensions==4.7.1
tzdata==2022.6
urllib3==1.26.12
