{% extends "base.html" %}
{% include "navigation.html" %}
{% block content %}


{% ifequal error "No" %}
<script>
    alert('Record save successfully');
    window.location = "{% url 'dasboard' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('invalid login try again');
</script>
{% endifequal %}

<div class="container">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="border  p-3" style="color: black;">
    <h6>Add Doctor</h6>
    <hr>
    <form method="POST">
    {% csrf_token %}
    <!-- <label>Doctor Name</label> -->
    <input type="text" class="form-control" name="name" /> 
    <label>Moble</label>
    <input type="text" class="form-control" name="mobile" />
    <label>Special</label>
    <input type="text" class="form-control" name="special" />
    <input type="submit" value="submit" class="form-control btn btn-success" style="margin: 6px" /> 
    
    </form>
</div>
</div>
</div>
</div>

{% endblock %}